.masthead{
    background-color: aqua;
    margin-top: 23px;
    padding-top: 0;
}
.headvar{
    background-color: dimgray;
    padding: 7px;
}
.headvar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
.headvar a:hover{
    color: aqua;
}
.headvar a.active{
    background-color: aqua;
    color: black;
}
.headvar a.active:hover{
    color: white;
}
h1{
    display: inline-block;
}
.align_mid{
    vertical-align: middle;
}
.bttn{
    text-decoration: none;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: aqua;
    color: black;
}
.bttn:link{
    color: black;
}
.bttn:hover{
    background-color: coral;
    color: black;
}
.btn-left{
    float: left;
}
.btn-right{
    float: right;
}
#pics{
    padding-left: 100px;
    height: 400px;
}