html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Noto Sans';
    overflow: hidden;
}


.custom-scrollbar-js,
.custom-scrollbar-css {
    height: 100px;
}


/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
    overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
    width: 7px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background-color: white;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    background-color: #00d2ff;
    background-image: linear-gradient(to top, #000dff 0%, #001aa9 100%);
}

.main{
    overflow-y: scroll;
    overflow-x: hidden;

    margin-bottom: -55px;
}

.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.feature {
    color: #fff;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../../../../../Desktop/Lorence/Dashboard/img/Icons/cloud-check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 2rem;
    width: 2rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.services {
    color: #fff;
}

.footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

.b-example-divider {
    height: 1rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.h5 {
    color: rgb(0, 0, 0);
}