html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Noto Sans';
  overflow: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.h2 {
  text-align: center;
}
.about-section {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.main{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: -55px;
}

.custom-scrollbar-js,
.custom-scrollbar-css {
  height: 100px;
}


/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 7px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background-color: white;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {

  background-color: #00d2ff;
  background-image: linear-gradient(to top, #000dff 0%, #001aa9 100%);
}