html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Noto Sans';
}

.navbar{
    background-color: transparent;
}

.sign-in{
    color:white;
}
.sign-in.top-of-page{
    color:blue;
}

.sign-up{
    color:white;
}
.sign-up.top-of-page{
    color:blue;
}

.sign-btn{
    outline: white solid 1px;
}

.sign-btn.top-of-page{
    outline: blue solid 1px;
}


.bg-white{
    animation: fadeIn 0.3s;
    -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.3s; /* Firefox < 16 */
    -ms-animation: fadein 0.3s; /* Internet Explorer */
    -o-animation: fadein 0.3s; /* Opera < 12.1 */
    animation: fadein 0.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar.top-of-page{
    background-color: transparent;
}

.custom-scrollbar-js,
.custom-scrollbar-css {
    height: 100px;
}


/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 7px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background-color: white;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #00d2ff;
    background-image: linear-gradient(to top, #000dff 0%, #001aa9 100%);
}


.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.page-header {
    font-size: 1.25rem;
    color: #fff;;
}

.feature {
    color: #fff;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../assets/icons/cloud-check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.services {
    color: #fff;
}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}