html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Noto Sans';
}

.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.page-header {
    margin-top: 3.5rem;
    font-size: 1.25rem;
    color: #fff;;
}

.feature {
    color: #fff;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../assets/icons/cloud-check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.services {
    color: #fff;
}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}